html, body{
    margin: 0;
    height: 100%;
    background-color: rgb(189, 189, 164);
}
body {
    display: flex;
    flex-direction: column;
}
main{
    overflow: auto;
    flex: 1 0 auto;
}

p {
    font-family: verdana;
    font-size: 1.05em;
}
.footer{
    position: relative;
    text-align:center;
    color:black;
    font-size:1em;
    left:0;
    flex-shrink: 0;
    width:100%;
}
/* very basic formatting for all headers */
.header {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgba(2, 11, 24, 0.685);

}

/* Menu layout and dropdown on hover funtionality */
.menu {
    position: relative;
    display: inline-block;
}
.menu-btn {
    background-color: rgb(141, 148, 147);
    color: rgb(0, 0, 0);
    padding: 8px;
    font-size: 1em;
    border: 1px;
}
.menu-pages {
    display: none;
    position: absolute;
    background-color: dimgray;
    min-width: 160px;
    box-shadow: ghostwhite;
    z-index: 1;
}
.menu-pages a {
    color:mintcream;
    padding: auto;
    text-decoration: none;
    display: block;
}
.menu-pages a:hover{
    opacity: .5;
}
.menu:hover .menu-pages{display: block;}
.menu:hover .menu-btn {opacity: .5;}

/* Front page link img link funtionality to let user know they can click on it and layout */
.container {
    display: flex;
    flex-wrap: wrap;
}
.column {
    flex: 24.5%;
    max-width: 24.5%;
}
.column img {
    width: 100%;
}
.remainder{
    flex:74.5%;
    max-width: 74.5%;
}
.this-img {
    cursor: pointer;
    transition: 0.3s;
}
.this-img:hover {opacity: 0.7;}

.rep-img {
    max-width:100%;
    height: auto;
    float: left;
}

.text {
    padding: 6px;
}
.notes {
    font-size: small;
    font-weight: bold;
    padding-left: 3em;
}
.ul-list {
    list-style-type: square;
    list-style-position: outside;
}
.ul-list li {
    margin-bottom: 6px;
}
ol li {
    margin-bottom: 6px;
}
